@charset "UTF-8";

.title-container {
    height: 50px;
    margin: 30px 0 0;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 20px;
}

.task-area {
    padding: 10px 20px;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    column-gap: 30px;
}

.task-area > div {
    display: flex;
    align-items: center;
}

.sub-title {
    background-color: #75a6d0;
    border-radius: 2px 0 0 2px;
    width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-title h3 {
    font-weight: normal;
}

.contents-area {
    background-color: #eee;
    color: #555;
    margin: 0 0 0 -1px;
    border-radius: 0 2px 2px 0;
    height: 60px;
    flex-grow: 1;
    padding: 20px;
    font-size: 16px;
}

.task-name-area {
    grid-area: 1 / 2 / 1 / 4;
}

.task-category-area {
    grid-area: 2/ 1/ 2/ 5;
}

.access-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.access-area > a {
    border-radius: 2px;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 30px;
    font-size: 16px;
}

.modify-btn {
    background-color: #73bb8e;
}

.modify-btn:hover {
    background-color: #129144;
}

.delete-btn {
    background-color: #faa;
}

.delete-btn:hover {
    background-color: #f66;
}