@charset "UTF-8";

.title-container {
    height: 50px;
    margin: 30px 0 0;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 20px;
}

.task-area {
    padding: 10px 20px;
    border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    column-gap: 30px;
}

.task-area>div {
    display: flex;
    align-items: center;
}

.sub-title {
    background-color: #75a6d0;
    border-radius: 2px 0 0 2px;
    width: 140px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-title h3 {
    font-weight: normal;
}

.contents-area {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    margin: 0 0 0 -1px;
    border-radius: 0 2px 2px 0;
    height: 60px;
    flex-grow: 1;
    font-size: 16px;
}

#task-code-head {
    width: 80px;
}

#task-code-input {
    width: 160px;
}

.contents-area input:not([type=checkbox]), .contents-area select {
    border: 0;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.contents-area label {
    margin: 0 0 0 16px;
}

.contents-area label:hover, .contents-area input[type=checkbox]:hover, .contents-area select {
    cursor: pointer;
}

.task-name-area {
    grid-area: 1 / 2 / 1 / 4;
}

.task-category-area {
    grid-area: 2 / 1 / 2 / 5;
}

.access-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.access-area>a {
    border-radius: 2px;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 30px;
    font-size: 16px;
}

.complete-btn {
    background-color: #75a6d0;
}

.complete-btn:hover {
    background-color: #076eb4;
}

.cancel-btn {
    background-color: #bbb;
}

.cancel-btn:hover {
    background-color: #999;
}